<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Vuelos Aeropuetso{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}">Inicio</a>
      <a href="{% url 'registrar_vuelo' %}">Registrar Vuelos</a>
      <a href="{% url 'listadevuelos' %}">Lista de Vuelos</a>
      <a href="{% url 'estadisticas' %}">Estadísticas</a>
    </nav>

    <div>{% block content %} {% endblock %}</div>
  </body>
</html>
